@import url('style.css');
/*change color*/
/*main*/
#emailbox{
	position:absolute;
	top:7%;
	right:7%;
	width:32%;
	border-radius:5px;
	text-align:center;
	color:white;
	font-size:1.333333em;/*18px*1.3333em=*/
	word-spacing:100px;
	line-height:1.875em;
}/*
#emailbox::before{
	content:'';
	position:absolute;
	width:100%;
	height:20px;
	top:-1px;
	left:0;
	background:-webkit-linear-gradient(left,#6DAB3E, #6DAB3E 20%,#F1A0A0 20%,#F1A0A0 40%,#F5F219 40%,#F5F219 60%,#F93529 60%, #F93529 80%,#3E9Dc5 80%, #3E9Dc5);
	background:-moz-linear-gradient(left,#6DAB3E, #6DAB3E 20%,#F1A0A0 20%,#F1A0A0 40%,#F5F219 40%,#F5F219 60%,#F93529 60%, #F93529 80%,#3E9Dc5 80%, #3E9Dc5);
	border-top-left-radius:10px;
	border-top-right-radius:10px;
}*/
#emailbox p{
	background:rgba(255,255,255,0.5);
	padding:5px 0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	font-size:0.8888889em;
	color:#fff;
}
#emailbox input[type="text"]{
	width:85%;
	padding:3px 10px; 
	border-bottom:1px solid #aaa;
	font-size:0.8888889em;
}
#emailbox label{
	color:#fff;	
	position:relative;
	left:-80px;
	top:10px;
}
#emailbox input[type="text"]+label::before{
	content:'.';
	opacity:0;
	display:inline-block;
}
#emailbox textarea{
	resize: none;
	position:relative;
	width:90%;
	height:150px;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	margin:40px auto 0;
	padding:5px 10px;
	display:block;
	border:1px solid #aaa;
}
#emailbox .button{
	float:right;
	padding:10px 60px;
	margin:30px 20px 0 0;
	background-color:#82592D;
	background-repeat: no-repeat;
	background-size:30%;
	background-position:center;
	color:#fff;
}
#emailbox .button#reset{
	background-image:url("../image/reset.png");
}
#emailbox .button#reset:hover{
	background-color:#D05600;
}

#emailbox .button#sendmsg{
	background-image:url("../image/mail.png");
}
#emailbox .button#sendmsg:hover{
	background-color:#008a60;
}

@media only screen and (max-width : 768px){
	#emailbox textarea{
		height:100px;
	}
}

/*Appx.*/
#emailbox input[type="text"],
#emailbox textarea{
	font-family:'Cuprum',"Microsoft JhengHei",sans-serif;
}

#emailbox label,
#emailbox input[type="text"],
#emailbox textarea
{
	font-size:0.8888889em;
}