@import url("style.css");
@import url(http://weloveiconfonts.com/api/?family=fontawesome);

/* zocial */
[class*="fontawesome-"]:before {
  font-family: 'fontawesome', sans-serif;
}


div#content{padding:1px;}
#qa-list{	
	width:50%;
	margin:0px auto;
	padding:1px;
	font-size:1em;
	
}
.fgroup{
	margin:5% 0;
	overflow:hidden;
}
#qa-list label{
	font-size:1.222222em;
	font-weight:normal;
	color:#008a60;
	padding:10px 0;
}
#qa-list label:hover{
	color:#D05600;
}
#qa-list input[type="radio"]{
	position:relative;
	z-index:10;
	opacity:0;
}

#qa-list input[type="radio"] + p {
	height:0;
    width:100%;
    margin-top:10px;
    color:#222;
	text-shadow:0px 0px 1px #e0e0e0;
    -webkit-transition:0.6s ease-in-out 0s;
    -moz-transition:0.6s ease-in-out 0s;
    transition:0.6s ease-in-out 0s;
}
#qa-list input[type="radio"]:checked + p{
	height:200px;
    -webkit-transition:0.6s ease-in-out 0.2s;
    -moz-transition:0.6s ease-in-out 0.2s;
    transition:0.6s ease-in-out 0.2s;
}
#qa-list + aside{
	margin-top:50px;
}
#qa-list + aside>h1{
	text-align:center;
	color:#333;
	font-family:"PMingLiu",Georgia,serif;
	font-weight:normal;
	font-size:0.66666em;
}
#qa-list + aside>h1 a, 
#qa-list + aside>h1 a:hover,
#qa-list + aside>h1 a:active{
	color:#A66400;	
}
#qa-list + aside>h1 a:hover{
	text-decoration:underline;
}
#aq-list::after{
	content:'...§ó¦h';
}


/*finger animation*/
.fontawesome-hand-right{
	font-size:2em;
	vertical-align:bottom;
	position:relative;
	left:-20px;
	-webkit-animation: iconanima 1s ease infinite ; /* Chrome, Safari, Opera */
	animation: iconanima 1s ease infinite ;
}

@-webkit-keyframes iconanima{
	0% {left:-20px;}
	50% {left:-25px;}
	100% {left:-20px;}
}

@keyframes iconanima{
	0% {left:-20px;}
	50% {left:-25px;}
	100% {left:-20px;}
}