 #content .left,
 #content .right{
 	position:relative;
 	display:inline-block;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	width:45%; 
 }
 #content .left{
 	float:left;
 }
 #content .right{
 	float:right;
 }
 #content::after{
 	content:'.';
 	display:inline-block;
 	clear:both;
 }
 .gallary{
 	width:100%;
 	height:700px;
 	background:url('../image/咖啡_心拉花_408356.jpg');
 }
 /*up*/
form.newman{
	position:relative;
	width:100%;
	text-align:center;
	padding:1px;
}
#account{
	margin-top:10%;
}
#account, #password{
	width:50%;
	padding:6px 20px;
	border:1px solid #82592D;
	border-radius:20px;
	font-size:1em;
	font-family:'Cuprum',sans-serif;
}
#password{margin-top:5%;}
#account + label, 
#password + label{
	color:#82592D;
	font-size:1.222222em;
	
}
#account + label::after,#password + label::after{
	content:'';
	display:block;
	opacity:0;
}

/*down*/
#declare{
	margin-top:10%;
}
#declare nav{
	display:block;
	width:100%;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	background:#A45807;
	border-radius:5px;
	margin:0px auto 0;
	padding:10px 20px;
	text-align:left;
}
#declare nav > p{
	color:#fdff86;
}
#declare nav > ol {
	width:100%;
	height:150px;
	overflow:auto;
}
#declare nav > ol li {
	margin-left:35px;
	color:#eee;
}
/*stylized checkbox*/
input#checkd{
	display:none;
}
label[for="checkd"]{color:#EF0017;font-weight:bold;position:relative;top:20px;left:30px;}
label[for="checkd"]::before{
	content:'';
	display:inline-block;
	width:30px;
	height:30px;
	background:#A45807;
	border-radius:3px;
	position:absolute;
	top:-2px;
	left:-32px;
}
input#checkd:checked + label[for="checkd"]::before{
	content:'\2714';
	color:white;
	text-indent:6px;
	font-size:1.111111em;
	text-shadow:0 2px 2px #eee;
	text-shadow:0 2px 2px rgba(0,0,0,0.3);
}


/*
button[name="signupb"]
{
	position:relative;
	top:10px;
	left:100px;
	padding:10px 30px; 
	border-radius:35px;
	color:#fff;
	font-size:1.11111em;//24px/18px=
	background:-webkit-gradient(linear,0% 0%,0% 100%,from(#f68c57),color-stop(70%,#f68c57),to(#fbbfa0));
	background:-moz-linear-gradient(top,#f68c57 70%,#fbbfa0);
	border:1px solid #fbbfa0;
	box-shadow:0 0 0 1px #e38251,
			   0 0px 5px rgba(0,0,0,0.45), 
			   0 1px 2px 0px rgba(255,255,255,0.45) inset;
	text-shadow:1px -1px 3px #f68c57;
	-webkit-transition:all ease-in-out 0.3s; 
	-moz-transition:all ease-in-out 0.3s;	
}

button[name="signupb"]:hover{
	border-color:#e38251;
	box-shadow:0 0 10px 3px #fff,
			   0 1px 2px 0px rgba(255,255,255,0.45) inset;
	color:#555;
}
button[name="signupb"]:active{
	top:12px;
	color:#333;
	box-shadow:0 0 5px 1px #fff,
			   0 1px 2px 0px rgba(255,255,255,0.45) inset;
}*/
button[name="signupb"]{
	
}

button[name="signupb"]{
	float:right;
	margin-top:10%;
	padding:10px 40px; 
	color:#fff;
	font-family:'Cuprum',sans-serif;
	font-size:1em;/*18px*/
	background:#A45807;
	-webkit-transition:all linear 0.1s; 
	-moz-transition:all linear 0.1s; 
}
button[name="signupb"]:hover{
	background:#DBB25F;
	color:#A45807;
}

/*focus effect*/
#account:focus, #password:focus{
	border-color: #D05600; 
	-webkit-box-shadow:0px 0px 6px #F5893D, 0 1px 4px #ddd inset;
}
#account:focus + label, 
#password:focus + label
{	
	color:#D05600;
}
