 /*up*/
form.newman{
	position:absolute;
	width:100%;
	height:30%;
	text-align:center;
}
#account{
	margin-top:5%;
}
#account, #password{
	border-radius:15px;
	padding:6px 10px;
	border:1px solid #43d5a9;
}
#password{margin-top:25px;}
#account + label, 
#password + label{
	font-family:"PMingLiu",Georgia,serif;
	color:#eee;
}
#account, 
#password, 
#account + label, 
#password + label
{	
	font-size:1.11em;/*18px*/
}
#account + label::after,#password + label::after{
	content:'';
	display:block;
}

/*down*/
#declare{
	position:absolute;
	width:40%;
	height:68%;
	left:30%;
	bottom:0;
}
#declare nav{
	display:block;
	width:100%;
	height:70%;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	background:#43bd98;
	background:rgba(67,189,152,0.8);
	border-radius:15px;
	margin-top:35px;
	padding:5px 20px;
	text-align:left;
}
#declare nav > p{
	color:#fdff86;
}
#declare nav > ol {
	width:100%;
	height:150px;
	overflow:auto;
}
#declare nav > ol li {
	margin-left:35px;
	color:#eee;
}
/*stylized checkbox*/
input#checkd{
	display:none;
}
label[for="checkd"]{color:#EF0017;font-weight:bold;position:relative;top:10px;left:30px;}
label[for="checkd"]::before{
	content:'';
	display:inline-block;
	width:30px;
	height:30px;
	background:rgba(67,189,152,0.8);
	border-radius:5px;
	position:absolute;
	top:-10px;
	left:-32px;
}
input#checkd:checked + label[for="checkd"]::before{
	content:'\2714';
	color:white;
	text-indent:6px;
	font-size:1.111111em;
	text-shadow:0 2px 2px #eee;
	text-shadow:0 2px 2px rgba(0,0,0,0.3);
}
button[name="signupb"]
{
	position:relative;
	top:10px;
	left:100px;
	padding:10px 30px; 
	border-radius:35px;
	color:#fff;
	font-size:1.11111em;/*24px/18px=*/
	background:-webkit-gradient(linear,0% 0%,0% 100%,from(#f68c57),color-stop(70%,#f68c57),to(#fbbfa0));
	background:-moz-linear-gradient(top,#f68c57 70%,#fbbfa0);
	border:1px solid #fbbfa0;
	box-shadow:0 0 0 1px #e38251,
			   0 0px 5px rgba(0,0,0,0.45), 
			   0 1px 2px 0px rgba(255,255,255,0.45) inset;
	text-shadow:1px -1px 3px #f68c57;
	-webkit-transition:all ease-in-out 0.3s; 
	-moz-transition:all ease-in-out 0.3s;	
}

button[name="signupb"]:hover{
	border-color:#e38251;
	box-shadow:0 0 10px 3px #fff,
			   0 1px 2px 0px rgba(255,255,255,0.45) inset;
	color:#555;
}
button[name="signupb"]:active{
	top:12px;
	color:#333;
	box-shadow:0 0 5px 1px #fff,
			   0 1px 2px 0px rgba(255,255,255,0.45) inset;
}
/*focus effect*/
#account:focus, #password:focus{
	border-color: rgba(67,189,152,0.8); 
	-webkit-box-shadow:0px 0px 6px white, 0 1px 4px #ddd inset ;
}
#account:focus + label, 
#password:focus + label
{	
	color:#fdff86;
}