@import url('reset.css');
@import url(http://weloveiconfonts.com/api/?family=fontawesome);

[class*="fontawesome-"]:before{
	font-family: 'fontawesome', sans-serif;
}


html, body{
	height:100%;
	font-size:62.5%;/*10px*/
	font-family:"Helvetica Neue",Verdana, Geneva, "Microsoft JhengHei", sans-serif;
}
button{
	font-family:"Helvetica Neue",Verdana, Geneva, "Microsoft JhengHei", sans-serif;
}
#head-container{
	position:relative;
	width:100%;
	height:50px;
	background: #462B83;
	font-size:3em;/*30px*/
}
#helper{
	display:inline-block;
    height:100%;
    vertical-align:middle;
}
#logo{
	height:60%;
	vertical-align:middle;
}
#head-container .title{
	display:inline-block;
	color:#fff;
	font-size:100%;
}
#ss-container{
	height:100%;
	display:inline-block;
	float:right;
	line-height:2.3em;
}
/*#search-icon,#sign-icon{
	color:#fff;
	width:16px;
	height:16px;
	font-size:0.8em;
}*/
#search{
	vertical-align:middle;
	width:30px;
	margin-right:0.5em;
	border-radius:20px;
	padding:4px 10px;
	background:#fff url('../images/lens.png') no-repeat;
	background-size:40%;
	background-position:10px 2px;
	box-shadow:none;
	-moz-transition:all 0.3s linear;
}
#search:focus{
	width:50px;
	background-size:30%;
}
#sign-btn{
	margin-right:10px;
	width:40px;
	height:40px;
	background:#7D60C1;
	box-shadow:none;
	border:none;
	padding:0 5px;
	cursor:pointer;
}
.btn-active{
	color:#fff;
}
#sign-group{
	display:none; 
	width:100%;
	height:200%;
	background: #7D60C1;
	box-shadow:0px 1px 5px rgba(0,0,0,0.5); 
}
#sign-group a{
	color:#fff;
	display:block;
	width:100%;
	height:30px;
	padding:10px 0;
	line-height:30px;
	text-indent:1em;
	font-size:1em;/*30px*/
}
#sign-group a:hover{
	background: #7455BC;
}


#window{
	width:100%;
	/*height:100%;*/
	position:relative;
	overflow:hidden;
}
#wrapper{
	position:relative;
	top:0;
	left:0;
	width:100%;
}
div[id^="page"]{
	clear:both;
	position:relative;
	width:100%;
	/*height:480px;*/
	/*min-height:480px;*/
	/*height:480px;*/
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	font-size:2.8em; /*28px*/
}
#banner{
	width:100%;
	height:220px;/*480px-50px-300px=130px*/
	background:url('../images/headphones-music_00301931.jpg');
	/*http://wallpoper.com/*/
	background-size:cover;
}
#head-nav{
	clear:both;
	width:100%;
}
#head-nav a{
	float:left;
	display:block;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	width:50%;
	height:70px;
	padding-top:3.5%;
	background:#fbfbfb;
	border:1px solid #aaa;
	color:#756189;
	line-height:1.4em;
	text-align:center;
}
#head-nav a:nth-child(1){
	color:#E6382B;
}
#head-nav a:nth-child(2){
	color:#B5209F;
	border-color:#aaa #aaa #aaa transparent;
}
#head-nav a:nth-child(3),
#head-nav a:nth-child(5){
	border-color:transparent #aaa #aaa #aaa;
}
#head-nav a:nth-child(3){
	color:#0757B3;
}
#head-nav a:nth-child(4){
	color:#387D12;
	border-color:transparent #aaa #aaa transparent;
}
#head-nav a:nth-child(5){
	color:#F0622C;
	width:100%;
}
#head-nav span{
	display:inline-block;
	width:100%;
}
#head-nav a:hover{
	background:#FFEB7F;
}


#songlist,
#lyrics{
	height:345px;/*480px-50px(head)-40px(btn)-35px(h1)=345px*/
	overflow-y:scroll;
}
#page2 h1,
#page3 h1{
	text-align:center;
	padding:10px 0;
	font-size: 1.2em; /*35px/28px=1.2em  ,1em=28px*/
	line-height:1.2em;
}
#page2 p{
	display:block;
	width:100%;
	height:30px;
	padding:10px 0;
	border:none;
	border-bottom:1px solid #d5d5d5; 
	background:-webkit-linear-gradient(#fafafa,#f3f3f3);
	background:-moz-linear-gradient(#fafafa,#f3f3f3);
	background:-o-linear-gradient(#fafafa,#f3f3f3);
	background:linear-gradient(#fafafa,#f3f3f3);
	
	line-height:30px;
	text-indent:1em;
	color:#555;
}
#page2 p:hover{
	background:#C2F47C;
	background:-webkit-linear-gradient(#FFED8C,#FFE34D);
	background:-moz-linear-gradient(#FFED8C,#FFE34D);
	background:-o-linear-gradient(#FFED8C,#FFE34D);
	background:linear-gradient(#FFED8C,#FFE34D);
}
.return{
	position:absolute;
	z-index:9999;
	bottom:0;
	width:100%;
	height:40px;
	background:#462B83;
	border:none;
	color:#fafafa;
	font-size:inherit;
}

#lyrics {
	background:#B0E7FF;
}
#lyrics p{
	display:block;
	width:100%;
	height:30px;
	padding:10px 0;
	border:none;
	line-height:30px;
	color:#555;
	text-align:center;
}











@media only screen and (min-width: 481px) {
	div[id^="page"]{
		
	}
}
@media only screen and (min-width: 769px) {
	
}













