@import url('reset.css');
@import url(http://weloveiconfonts.com/api/?family=fontawesome);

[class*="fontawesome-"]:before{
	font-family: 'fontawesome', sans-serif;
}


html, body{
	height:100%;
	font-size:62.5%;/*10px*/
	font-family:"Helvetica Neue",Verdana, Geneva, "Microsoft JhengHei", sans-serif;
}
button{
	font-family:"Helvetica Neue",Verdana, Geneva, "Microsoft JhengHei", sans-serif;
}
#head-container{
	position:relative;
	width:100%;
	height:8%;
	background: #462B83;
	font-size:3em;/*30px*/
}
#helper{
	display:inline-block;
    height:100%;
    vertical-align:middle;
}
#logo{
	height:60%;
	vertical-align:middle;
}
#head-container .title{
	display:inline-block;
	color:#fff;
	font-size:100%;
}
#ss-container{
	height:100%;
	display:inline-block;
	float:right;
	line-height:2.3em;
}
/*#search-icon,#sign-icon{
	color:#fff;
	width:16px;
	height:16px;
	font-size:0.8em;
}*/
#search{
	vertical-align:middle;
	width:30px;
	margin-right:0.5em;
	border-radius:20px;
	padding:4px 10px;
	background:#fff url('../images/lens.png') no-repeat;
	background-size:40%;
	background-position:10px 2px;
	box-shadow:none;
	-moz-transition:all 0.3s linear;
}
#search:focus{
	width:50px;
	background-size:30%;
}
#sign-btn{
	margin-right:10px;
	width:40px;
	height:40px;
	background:#7D60C1;
	box-shadow:none;
	border:none;
	padding:0 5px;
	cursor:pointer;
}
.btn-active{
	color:#fff;
}
#sign-group{
	display:none;
	position:relative;
	z-index:10; 
	width:100%;
	height:200%;
	background: #7D60C1;
	box-shadow:0px 1px 5px rgba(0,0,0,0.5); 
}
#sign-group a{
	color:#fff;
	display:block;
	width:100%;
	height:30px;
	padding:10px 0;
	line-height:30px;
	text-indent:1em;
	font-size:1em;/*30px*/
}
#sign-group a:hover{
	background: #7455BC;
}


#window{
	width:100%;
	height:92%;
	position:relative;
	overflow:hidden;
}
#wrapper{
	position:relative;
	top:0;
	left:0;
	width:100%;
	height:300%;
}
div[id^="page"]{
	/*clear:both;*/
	position:relative;
	width:100%;
	height:33.3333333%;
	/*height:480px;*/
	/*min-height:480px;*/
	/*height:480px;*/
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	font-size:2.8em; /*28px*/
	overflow:hidden;
}
#banner{
	width:100%;
	height:50%;
	background:url('../images/headphones-music_00301931.jpg');
	/*http://wallpoper.com/*/
	background-size:cover;
}
#page1-nav{
	clear:both;
	width:100%;
	height:45%;
}
#page1-nav a{
	float:left;
	display:block;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	width:50%;
	height:33.333333%;
	padding:3.5% 0;
	background:#fbfbfb;
	border:1px solid #aaa;
	color:#756189;
	line-height:1.4em;
	text-align:center;
}
#page1-nav a:nth-child(1){
	color:#E6382B;
}
#page1-nav a:nth-child(2){
	color:#B5209F;
	border-color:#aaa #aaa #aaa transparent;
}
#page1-nav a:nth-child(3),
#page1-nav a:nth-child(5){
	border-color:transparent #aaa #aaa #aaa;
}
#page1-nav a:nth-child(3){
	color:#0757B3;
}
#page1-nav a:nth-child(4){
	color:#387D12;
	border-color:transparent #aaa #aaa transparent;
}
#page1-nav a:nth-child(5){
	color:#F0622C;
	width:100%;
}
#page1-nav span{
	display:inline-block;
	width:100%;
}
#page1-nav a:hover{
	background:#FFEB7F;
}
/*#footer{display:none;clear:both;}*/
#footer{
	clear:both;
	display:block;
	position:relative;
	width:100%;
	height:5%;
	text-align:center;
	background:#e0e0e0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
#footer span{
	font-size:0.8em;
	line-height:1.5em;
}


#page2 h1,
#page3 h1{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	height:10%;
	font-size: 1.2em; /*35px/28px=1.2em  ,1em=28px*/
	line-height:2em;
	text-align:center;
}
#songlist,
#lyrics{
	height:80%;/*480px-50px(head)-40px(btn)-35px(h1)=345px*/
	overflow-y:scroll;
}
#page2 p{
	display:block;
	width:100%;
	height:30px;
	padding:10px 0;
	border:none;
	border-bottom:1px solid #d5d5d5; 
	background:-webkit-linear-gradient(#fafafa,#f3f3f3);
	background:-moz-linear-gradient(#fafafa,#f3f3f3);
	background:-o-linear-gradient(#fafafa,#f3f3f3);
	background:linear-gradient(#fafafa,#f3f3f3);
	
	line-height:30px;
	text-indent:1em;
	color:#555;
}
#page2 p:hover{
	background:#C2F47C;
	background:-webkit-linear-gradient(#FFED8C,#FFE34D);
	background:-moz-linear-gradient(#FFED8C,#FFE34D);
	background:-o-linear-gradient(#FFED8C,#FFE34D);
	background:linear-gradient(#FFED8C,#FFE34D);
}
.return{
	position:absolute;
	z-index:9999;
	bottom:0;
	width:100%;
	height:10%;
	background:#462B83;
	border:none;
	color:#fafafa;
	font-size:inherit;
}

#lyrics {
	background:#B0E7FF;
}
#lyrics p{
	display:block;
	width:100%;
	height:30px;
	padding:10px 0;
	border:none;
	line-height:30px;
	color:#555;
	text-align:center;
}

#pad-return{display:none;}









@media only screen and (min-width: 481px) {
	#head-container{height:8%;}
	#head-nav a{height:20%;}
	
	/*#footer{
		display:block;
		position:relative;
		width:100%;
		height:50px;
		text-align:center;
		background:#f7f7f7;
	}
	#footer span{
		font-size:1em;
		line-height:50px;
	}*/
	#page2{
		float:left;
		width:50%;
	}
	#page3{
		float:left;
		width:50%;
		background:#ffcc00;
	}
	#page2 .return,
	#page3 .return{
		display:none;
	}
	#pad-return{clear:both;display:block;width:100%;height:40px;position:relative;top:-40px;z-index:100;}
	#pad-return .return{height:100%;font-size:2.8em;}
	
}
@media only screen and (min-width: 769px) {
/*	div[id^="page"]{
		clear:both;
	}
	#page1-nav a{
		padding-top:2.5%;
	}
	#wrapper{
		width:100%;
		height:100%;
	}
	#page2, 
	#page3{
		height:100%;
	}
	#songlist{
		width:500px;
		margin:auto;
	}
	#page2 p{
		width:100px;
		height:100px;
		float:left;
		margin:0 50px 50px 0;
	}
	*/
	.return{
		display:none;
	}
}