@import url('reset.css');
@import url(http://weloveiconfonts.com/api/?family=fontawesome);

[class*="fontawesome-"]:before{
	font-family: 'fontawesome', sans-serif;
}


html, body{
	height:100%;
	font-size:62.5%;
	font-family:"Helvetica Neue",Verdana, Geneva, "微軟正黑體","Microsoft JhengHei", sans-serif;
}
#head-container{
	position:relative;
	height:50px;
	background: #462B83;
	font-size:3em;/*30px*/
}
#helper{
	display:inline-block;
    height:100%;
    vertical-align:middle;
}
#logo{
	height:60%;
	vertical-align:middle;
}
#head-container .title{
	display:inline-block;
	color:#fff;
	font-size:100%;
}
#ss-container{
	height:100%;
	display:inline-block;
	float:right;
	line-height:2.3em;
}
/*#search-icon,#sign-icon{
	color:#fff;
	width:16px;
	height:16px;
	font-size:0.8em;
}*/
#sign-btn{
	margin-right:10px;
	width:40px;
	height:40px;
	background:#7D60C1;
	box-shadow:none;
	border:none;
}
.btn-active{
	color:#fff;
}
#search{
	vertical-align:middle;
	width:30px;
	margin-right:0.5em;
	border-radius:20px;
	padding:4px 10px;
	background:#fff url('../images/lens.png') no-repeat;
	background-size:40%;
	background-position:10px 2px;
	box-shadow:none;
	-moz-transition:all 0.3s linear;
}
#search:focus{
	width:50px;
	background-size:30%;
}
#sign-group{
	display:none; 
	position:absolute;
	top:100%;
	width:100%;
	height:200%;
	background: #7D60C1;
	box-shadow:0px 1px 5px rgba(0,0,0,0.5); 
}
#sign-group a{
	color:#fff;
	display:block;
	width:100%;
	height:30px;
	padding:10px 0;
	line-height:30px;
	text-indent:1em;
	font-size:1em;/*30px*/
}
#sign-group a:hover{
	background: #7455BC;
}


#head-nav{
	clear:both;
	margin-top:65px;
	width:100%;
	font-size:2.5em;/*25px*/
}
#head-nav a{
	float:left;
	display:block;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	width:50%;
	height:100px;
	padding-top:20px;
	line-height:30px;
	border:1px solid #aaa;
	text-align:center;
}
#head-nav a:nth-child(2){
	border-color:#aaa #aaa #aaa transparent;
}
#head-nav a:nth-child(3),
#head-nav a:nth-child(5){
	border-color:transparent #aaa #aaa #aaa;
}
#head-nav a:nth-child(4){
	border-color:transparent #aaa #aaa transparent;
}

#head-nav span{
	display:inline-block;
	width:100%;
}