@import url('reset.css');
@import url(http://weloveiconfonts.com/api/?family=fontawesome);

[class*="fontawesome-"]:before{
	font-family: 'fontawesome', sans-serif;
}


html, body{
	height:100%;
	font-size:62.5%;
	font-family:Verdana, Geneva, sans-serif, "·L³n¥¿¶ÂÅé", "Microsoft JhengHei";
}
#head-container{
	position:relative;
	height:50px;
	background:black;
	font-size:5em;
}
#logo{
	height:80%;
	vertical-align:bottom;
	margin-left:10px;
}
#ss-container{
	height:100%;
	display:inline-block;
	float:right;
}
/*#search-icon,#sign-icon{
	color:#fff;
	width:16px;
	height:16px;
	font-size:0.8em;
}*/
#search{
	border-radius:20px;
	padding:4px 10px;
	background:#fff url('../images/lens.png') no-repeat;
	background-size:15%;
	background-position:10px 2px;
	box-shadow:none;
}
#sign-container{
	position:absolute;
	top:100%;
	width:100%;
	height:100%;
}
#sign-container a{
	color:red;
	display:block;
	width:100%;
	height:30px;
	padding:10px 0;
	font-size:inherit;
}


#head-nav{
	clear:both;
	margin-top:65px;
	font-size:2em;
	width:100%;
	
}
#head-nav a{
	display:block;
	width:100%;
	height:30px;
	padding:10px 0;
}