button{outline:none;}

.song {
    width:100%;
    height:40px;
    line-height:40px;
    -webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	border-bottom:1px solid #ddd;
}
.song:hover {
	background:#C2F47C;
	background:-webkit-linear-gradient(#FFED8C,#FFE34D);
	background:-moz-linear-gradient(#FFED8C,#FFE34D);
	background:-o-linear-gradient(#FFED8C,#FFE34D);
	background:linear-gradient(#FFED8C,#FFE34D);
}
.song h3{
	float:left;
	padding:0 30px;
}
.song h4 {
	float:right;
	padding:0 30px;
}
.cover {
	display:none;
}

@media only screen and (min-width: 481px) {
	.song{
	    width:250px;
	    height:300px;
	    -webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
		margin:20px;
	    border:1px solid #555;
	    padding:15px 15px 5px;
	    background:#333;
	    text-align:center;
	}
	.song h3,
	.song h4{
	    float:none;
	    text-indent:2em;
	    line-height:2em;
	    text-align:left;
	}
	.song h3{color:#666;}
	.song h4{
		font-weight:100;
		color:#e0e0e0;
	}
	.cover{
		display:block;
		position:relative;
		width:84%;
		height:70%;
		margin:auto;
		margin-bottom:20px;
	}
	.cover img{
		width:100%;
		height:100%;
		display:block;
		margin:auto;
	}
	.player{
	    position:absolute;
	    z-index:10000;
	    top:0;
	    left:0;
	    width:100%;
	    height:100%;
	    background:rgba(0,0,0,0.3);
	    opacity:0;
	    -webkit-transition: all .3s ease;
	}
	.play-btn{
	    width:40%;
	    height:40%;
	    display:inline-block;
	    margin:20% auto;
	    border:2px solid #fff;
	    background:#999;
	    background:radial-gradient(#a9a9a9,#777);
	    border-radius:50%;
	    font-size:40px;
	    color:#2f2f2f;
	}
	.cover:hover .player{
	    opacity:1;
	}
		
	.song {
		float:left;
	}
	.show {
    	opacity:1;
    }
    .play {
	    color:#aaa;
	    background:radial-gradient(#777,#333);
	}
}
@media only screen and (min-width: 769px) {
	/*.song {
		float:left;
	}
	.show {
    opacity:1;
    }
    .play {
	    color:#aaa;
	    background:radial-gradient(#777,#333);
	}
	*/
}