@charset "utf-8";
@import url("reset.css");
/* CSS Document */
html, body{
	font-family:Verdana, Geneva, sans-serif, "微軟正黑體", "Microsoft JhengHei";
	background:#CCC;
}
body{
	font-size:62.5%; /*10px/16px*/
	background:#fff url('../images/basechecks.png');	
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	overflow-x:hidden;
}

.box_b_b{
	position:fixed;
	left:20px;
	width:250px;
	height:auto;
/*	background:-webkit-linear-gradient(0deg, #fdfdfd, #fefefe);
	background:-moz-linear-gradient(0deg, #fdfdfd, #fefefe);
	background:-ms-linear-gradient(0deg, #fdfdfd, #fefefe);
	background:-o-linear-gradient(0deg, #fdfdfd, #fefefe);
	background:linear-gradient(0deg, #fdfdfd, #fefefe);
	*/
	/*border-left:6px solid #53BF6B;*/
	background:#53BF6B;
	z-index:999;
}
.box_b_b > header{
	width:100%;
	height:120px;
	margin-top:50px;
	text-indent:20px;
	text-align:left;
	color:#fff;
	/*font-size:4em;
	line-height:1.5em;*/
	font-family: 'Rancho', cursive;
	font-size:6em;
	letter-spacing:2px;
	line-height:1.1em;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}
.box_b_b > p {
	margin-top:40px;
	text-indent:20px;
	font-size:1.4em;
	color:#FFDF00;/*#007319*/

}
.ba{
	position:relative;
	top:50px;
	width:50%;
	height:40px;
}
.ba:nth-child(odd){
	float:left;
}
.ba:nth-child(even){
	float:right;
}
.ba:nth-child(n+2){
	border-top:none;
}
.box_b_b::after{
	content:'.';
	opacity:0;
	clear:both;
}
.box_b_b > #b_1{
	border-top:1px solid #eaeaea;
}

/*----------------------*/
.out{
	min-height:700px;
	min-width:600px;
	background:#fff url('../images/basechecks.png');	
	
}
.box_a{
	position:relative;
	padding:20px;
	padding-left:350px;
	z-index:0;
}
.box{
	width:500px;
	height:300px;
	margin-top:30px;
	box-shadow:1px 1px 3px rgba(0,0,0,0.3);
}
.pic{
	float:left;
	width:70%;
	height:100%;
}
.box, .pic, .text{
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}
.box .text{
	float:right;
	width:30%;
	height:100%;
	padding:10px;
	background:#fff;
	text-align:center;
}
.text > h2{
	font-family: 'Rancho', cursive;
	font-size:2em;
	letter-spacing:1px;
	line-height:30px;
}
.text > p{
	font-size:1.11111em;
	line-height:20px;
	margin-bottom:20px;
	color:#555;
}
.box_a article{
	position:fixed;
	right:125px;
	top:200px;
	width:30%;
	min-width:500px;
	min-height:400px;
	padding:15px;
	background:rgba(255,255,255,0.6);
	border-radius:5px;
}
section{
	margin-bottom:50px;
}
section>h1{
	font-size:2.2em;
	margin-bottom:20px;
}
section>p{
	font-size:1.8em;
	line-height:2.1em;
}

.box_a .colortoggle{
	color:#fff;
	background:rgba(0,0,0,0.3);
}
/*---------button--------*/
button{
	font-family:Verdana, Geneva, sans-serif;
	font-size:1.5em;
	background:#fcfcfc;
	border:none;
}
button:active{
	background:#FFDF00;
}
.ch{
	font-family:"微軟正黑體", "Microsoft JhengHei";
}
.btn{
	background:#fcfcfc; /* For Safari 5.1 to 6.0 */
	border:1px solid #eaeaea;
	color:rgba(0,0,0,0.5);
	font-size:1.5em;
	line-height:40px;	
}
.btn:hover,.btn:active, .cb{
	background:#fefefe;
	color:rgba(0,0,0,1);
	box-shadow:1px 1px 5px rgba(0,0,0,0.15);
	z-index:5;
}
.btn.blue{
	background:#0772A1;
	color:rgb(240,240,240);
}
.btn.blue:hover{
	color:#fff;
}

@media screen and (max-width:1024px){
	.box_a article{
		right:50px;
		width:20%;
		height:500px;
	}
	section>h1{
		font-size:2em;
		margin-bottom:20px;
	}
	section>p{
		font-size:1.5em;
		line-height:2em;
	}
}
@media screen and (max-width:900px){
	.box_a article{
		position:static;
		top:0;
		width:400px;
	}
	.box{
		width:400px;
	}
}